* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4a90e2;
}

main {
  background-color: #4a90e2;
  color: #4a90e2;
  text-align: left;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 10%;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 120%;
}

.tete {
  width: 10em;
  height: 10em;
}

#clock {
  font-size: 1.5em;
  color: #4a90e2;
  font-family: "Gill Sans Extrabold", sans-serif;
  padding: 10px;
  text-align: center;
}
#timer {
  font-size: 1.1em;
  color: #e74c3c;
  font-family: "Gill Sans Extrabold", sans-serif;
  padding: 10px;
  text-align: center;
}
.flex2 {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  font-family: "Gill Sans Extrabold", sans-serif;
  background-color: #ffffff;
  border-radius: 10em;
  padding: 2em;
  margin-left: 7em;
  gap: 3em;
  transition-duration: 1s;
}
.flex2:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  box-shadow: 10px 10px 10px #085399;
}
h2 {
  text-align: left;
  font-family: "Gill Sans Extrabold", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #ffffff;
  box-shadow: 0px -4px 8px #085399;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  font-family: "Gill Sans Extrabold", sans-serif;
}

.lien:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

#header .logo img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 20px;
}

#header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #4a90e2;
  font-size: 1.5em;
  padding: 1em 1em;
  transition: transform 0.5s;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #ffffff;
  box-shadow: 0px -4px 8px #085399;
  text-align: left;
  font-family: "Gill Sans Extrabold", sans-serif;
  color: #4a90e2;
  padding: 10px 10px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
