#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid black;
}
div {
  font-size: x-large;
}
a {
  text-decoration: none;
}
a:hover {
  text-emphasis: none;
}
#footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid black;
}
i {
  font-size: x-large;
}
